.navgationBar{
    padding: 12px 0px;
    background: rgb(191,54,12);
    border-bottom: 1px solid #ffffff;
    position: fixed;
    width: 100%;
    z-index: 1;

    .nav{
        display: flex;
        align-items: center;
        gap: 60px;

        .brand{
            font-size: 22px;
            font-weight: bold;
            color: #000000;
        }
        .links {
            font-size: 16px;
            font-weight: bold;
            display: flex;
            gap: 20px;
            
            .link {
                color: #ffffff;
            }
            #toggle {
                position: relative;
            }

            #toggle::after {
                position: absolute;
                content: '';
                border-style: solid;
                border-color: transparent transparent transparent #ffffff;
                border-width: 6px;
                top: 5px;
                right: -15px;
                transition: 0.4s;
            }

            #toggle:hover::after {
                border-color: #ffffff transparent transparent transparent ;
            }

        }
    }
    .contactUs {
        .contact {
            color: #ffffff;
            background: transparent;
            border: 1px solid #ffffff;
            border-radius: 4px;
            padding: 4px;
            font-size: 18px;
        }
    }
}


#allCources {
    position: relative;
}

.tracks {
    display: none;
}

#allCources:hover .tracks {
    display: flex;
}

.tracks {
    position: absolute;
    flex-direction: column;
    gap: 8px;
    width: 200px;
    height: 280px;
    padding: 9px 4px;
    left: 0%;
    background-color:  rgb(191,54,12);
    font-size: 18px;
    border-radius: 10px;
    transition: 0.4s;
    border: 3px solid black;
    margin-top: 2px;
    font-weight: 200;
}

.link2 {
    position: relative;
    margin-bottom: 4px;
    padding: 0px 3px;
    color: #ffffff;
}