.navgationBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 90%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; */

    .brand{
        font-size: 22px;
        font-weight: bold;
        color: red;
    }

    .links{
        font-size: 16px;
        font-weight: bold;
        display: flex;
        gap: 20px;
    }
}
