.navgationBar{
    padding: 12px 0px;
    background: #000;
    border-bottom: 1px solid green;

    .nav{
        display: flex;
        align-items: center;
        gap: 60px;

        .brand{
            font-size: 22px;
            font-weight: bold;
            color: rgb(191,54,12);
        }
        .links {
            font-size: 16px;
            font-weight: bold;
            display: flex;
            gap: 20px;
            
            .link {
                color: #ffffff;
            }
        }
    }
    .contactUs {
        .contact {
            color: rgb(191,54,12);
            background: transparent;
            border: 1px solid #ffffff;
            border-radius: 4px;
            padding: 4px;
            font-size: 18px;
        }
    }
}
