.homePage{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .textContent {
        text-align: center;

        .title {
            font-size: 55px;
            text-transform: capitalize;

            .spaces {
                letter-spacing: -10px;
            }

        }
        .description {
            color: #ffffff;
            margin-top: 20px;
            font-size: 16px;
        }
    }
}